/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  /* line-height: 1.6; */
  background-color: #f5f5f5;
}

.container {
  /* Add your styles here */
}

h1 {
  /* Add your styles here */
  font-size: 47px;

}

.pricing-heading {
  /* Add your styles here */
  margin: 35px auto;

}

.pricing-container {
  /* Add your styles here */
  width: 75%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 2% auto;
}

.pricing-card {
  /* Add your styles here */
  width: 31%;
  background-color: #fff;
  border-radius: 12px;
  margin: auto 0;
}

.pricing-card:hover {
  /* Add your styles here */
}

.pricing-card.popular {
  /* Add your styles here */
  border: 2px solid #F57902;
}

.popular-badge {
  /* Add your styles here */
  width: 170px;
  padding: 10px;
  background-color: #F57902;
  margin: 5px auto;
  color: #fff;
  border-radius: 40px;
  position: relative;
  top: -25px;
}

.price {
  /* Add your styles here */
  font-size: 55px;
  font-weight: 700;

}

h2 {
  font-size: 32px;
  margin: 30px auto;
}

.period {
  /* Add your styles here */
  color: grey;
  margin: 30px auto;
  font-size: 20px;
}

.features {
  /* Add your styles here */
  width: 80%;
  color: rgb(44, 40, 40);
  font-size: 20px;
  margin: 40px auto;
}

.features li {
  /* Add your styles here */
  margin: 20px auto;
  list-style-type: '🍵';
}


.subscribe-btn {
  /* Add your styles here */
  border: none;
  padding: 15px 50px;
  border-radius: 50px;
  font-size: 18px;
  background-color: #F79533;
  margin: 10px auto 40px auto;
}

.subscribe-btn:hover {
  /* Add your styles here */
  color: #fff;
  cursor: pointer;
}



@media (max-width:1200px) {

  .pricing-container {
    /* Add your styles here */
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .pricing-card {
    /* Add your styles here */
    width: 30%;
  }
}

@media (max-width:992px) {

  h1 {
    font-size: 2em;
  }

  .pricing-container {
    /* Add your styles here */
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
  }

  .pricing-card {
    /* Add your styles here */
    width: 90%;
    margin: 30px auto;
  }
}